/*** Estilos para la tarjeta de pago ***/

.container-form {
    width: 40%;
    height: 40rem;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(50px) contrast(65%) saturate(265%);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 1.5rem;
}

.btn-close {
    border: none;
    /*border: solid 1px rgb(188, 75, 81, 0.3); *//* rgba(234, 244, 244, 0.3);*/
    background: none;
}


.btn:hover {
    border-radius: 100%;
    background: rgb(188, 75, 81, 0.3);
}

/***/

.container-carrito {
    background: rebeccapurple;
    width: 30rem;
    height: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}

.carrito {
    background: red;
    width: 90%;
    height: 100%;
}

.tittle {
    background: palegreen;
    text-align: center;
    height: 2rem;
}

.carrito-items {
    background: palevioletred;
    width: 100%;
    height: 10rem;
    
}

.items {
    margin-top: 15rem;
    background: salmon;
}